.button {
  width: 209px;
  padding: 20px 0 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3b33;
  border: 3px solid #ee3b33;
  border-radius: 4px;
  cursor: pointer;
}

.button--download {
  color: #ee3b33;
  background-color: #ffffff;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ee3b33;
  outline: none;
}

.button:active {
  opacity: 0.7;
}

@media (max-width: $max-mobile-width) {
  .button {
    width: 100%;
  }
}
