.main-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.main-nav--hidden {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 38px 34px 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  // transform: scaleX(1.04);
  color: #212327;
  outline: none;

  .main-nav__list--secondary & {
    font-size: 12px;
    padding: 38px 16px 37px;
  }
}

.main-nav__item--active .main-nav__link::after,
.main-nav__item:not(.main-nav__item--active) .main-nav__link:hover::after,
.main-nav__item:not(.main-nav__item--active) .main-nav__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ee3b33;
}

.main-nav__item:not(.main-nav__item--active) .main-nav__link:hover,
.main-nav__link:focus {
  color: #ee3b33;
}

.main-nav__item:not(.main-nav__item--active) .main-nav__link:active {
  opacity: 0.7;
}

@media (max-width: $max-tablet-width) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav__list--main .main-nav__link {
    padding: 15px 24px 12px;
  }

  .main-nav__list--secondary .main-nav__link {
    padding: 12px 24px;
  }

  .main-nav__item--active .main-nav__link {
    color: #ee3b33;
  }

  .main-nav__item--active .main-nav__link::after,
  .main-nav__item:not(.main-nav__item--active) .main-nav__link:hover::after,
  .main-nav__item:not(.main-nav__item--active) .main-nav__link:focus::after {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .main-nav {
    display: none;
    flex-direction: column;
    padding: 12px 0 15px;

    .page-header--expended &,
    body[data-nojs] & {
      display: flex;
    }
  }

  .main-nav--hidden {
    display: flex;
  }

  .main-nav__item {
    width: 100%;
  }

  .main-nav__list--secondary .main-nav__link {
    padding: 15px 24px 12px;
    font-size: 16px;
    line-height: 24px;
  }
}
