.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dadfe6;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo {
  display: block;
  min-width: 100px;
  padding: 12px 0;
  background-color: #ee3b33;
}

.page-header__logo svg {
  display: block;
  margin: 0 auto;
  fill: #ffffff;
}

@media (max-width: $max-mobile-width) {
  .page-header__logo {
    width: 100%;
    padding-left: 24px;
  }

  .page-header__logo svg {
    margin: 0;
  }
}
