.page-footer__flex-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 90px 0 70px;

  &--footer-down {
    margin: 0 auto;
  }

}

.page-footer__nav {
  padding: 45px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.25;
  background-color: #212327;
}

.page-footer__list {
  list-style: none;
  margin-right: 20px;
  padding: 0;

  &--footer-down {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #787e89;

  &--footer-down {
    padding-right: 24px;
  }
}

.page-footer__contact {
  padding: 15px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 2.7;
  text-decoration: none;
  text-transform: uppercase;
  color: #787e89;
  background-color: #191a1e;
}

.page-footer__text {
  margin: 0;
}

.page-footer__logo {
  margin-top: 20px;
}

.page-footer__logo-svg {
  fill: #393d43;
}

@media (min-width:$tablet-width) {
  .page-footer__flex-block {

  }
}


@media (min-width:$deskop-width) {
  .page-footer__flex-block {
    padding: 0 255px 0 170px;
  }
}
