.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dadfe6;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo {
  display: block;
  min-width: 100px;
  background-color: #ee3b33;
}

.page-header__logo svg {
  display: block;
  margin: 12px auto;
  fill: #ffffff;
}

.page-header__search-btn {
  margin-right: 46px;
  padding: 0;
  border: none;
  background: inherit;
  outline: none;
  cursor: pointer;
}

.page-header__search-btn-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.page-header__search-btn:hover .page-header__search-btn-inner,
.page-header__search-btn:focus .page-header__search-btn-inner {
  background-color: #eeeeee;
  border-radius: 50%;
}

.page-header__search-btn:active .page-header__search-btn-inner {
  opacity: 0.7;
}

.page-header__search-btn svg {
  fill: #212327;
}

.page-header__search-btn:hover svg,
.page-header__search-btn:focus svg {
  fill: #ee3b33;
}

.page-header__search-btn:active svg {
  opacity: 0.7;
}
