.page-footer__flex-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 90px 0 70px;

  &--footer-down {
    margin: 0 auto;
  }
}

.page-footer__nav {
  padding: 45px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  background-color: #212327;
}

.page-footer__list {
  list-style: none;
  margin-right: 20px;
  padding: 0;

  &--footer-down {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #787e89;

  &--footer-down {
    padding-right: 24px;
  }
}

.page-footer__contact {
  padding: 15px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  text-transform: uppercase;
  color: #787e89;
  background-color: #191a1e;
}

.page-footer__text {
  margin: 0;
}

.page-footer__logo {
  margin-top: 20px;
}

.page-footer__logo-svg {
  fill: #393d43;
}

@media (max-width: $max-tablet-width) {
  .page-footer__flex-block {
    max-width: 880px;
    margin: 0 auto;
  }

  .page-footer__nav {
    padding: 30px 0;
  }
}

@media (max-width: $max-mobile-width) {
  .page-footer__nav {
    padding: 15px 0;
    font-size: 16px;
  }

  .page-footer__contact {
    font-size: 16px;
  }

  .page-footer__flex-block {
    padding: 0 24px;
  }

  .page-footer__list {
    width: 100%;
    max-width: 250px;
    margin-right: 0;
  }

  .page-footer__flex-block--footer-down {
    flex-direction: column;
    justify-content: center;
  }

  .page-footer__list--footer-down {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__logo {
    width: 100%;
  }

  .page-footer__text {
    text-align: center;
  }
}
