.search-form {
  display: flex;
  padding-right: 26px;
}

.search-form--active {
  width: calc(100% - 100px);
}

.search-form__field-wrapper {
  display: none;
  order: 2;
  width: 100%;
}

.search-form--active .search-form__field-wrapper {
  display: flex;
}

.search-form__field {
  width: 100%;
  font-family: "Source Sans Pro", "Tahoma", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  border: none;
  outline: none;
}

.search-form__field:focus::placeholder {
  color: #ee3b33;
  opacity: 1;
}

.search-form__btn {
  order: 1;
  padding: 0 20px;
  border: none;
  background: inherit;
  outline: none;
  cursor: pointer;
}

.search-form__btn-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.search-form__btn:hover .search-form__btn-inner,
.search-form__btn:focus .search-form__btn-inner {
  background-color: #eeeeee;
  border-radius: 50%;
}

.search-form__btn:active .search-form__btn-inner,
.search-form__btn:active svg {
  opacity: 0.7;
}

.search-form__btn svg {
  fill: #212327;
}

.search-form__btn:hover svg,
.search-form__btn:focus svg {
  fill: #ee3b33;
}

@media (max-width: $max-mobile-width) {
  .search-form {
    position: relative;
    display: none;
    width: 100%;
    padding-right: 0;
    border-top: 1px solid #dadfe6;

    .page-header--expended &,
    body[data-nojs] & {
      display: flex;
    }
  }

  .search-form__field-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .search-form__btn {
    margin: 0;
    padding: 8px 16px;
  }

  .search-form__btn--close {
    display: none;

    .search-form--active & {
      display: block;
    }
  }

  .search-form__field {
    padding-bottom: 4px;
    border: none;
  }
}
