.specs {
  margin: 0 auto;
}

.specs__list {
  position: relative;
  display: flex;
  justify-content: space-between;

  list-style: none;
  width: 1000px;
  max-width: 90%;
  margin: 74px auto;
  padding: 0 20px;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    top: 6px;

    background-color: #e3e3e3;
  }
}

.specs__item svg {
  fill: #c8c8c8;
}

.specs__btn {
  position: relative;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #c8c8c8;
  outline: none;
}

.specs__item--active .specs__btn,
.specs__item:hover .specs__btn,
.specs__btn:focus {
  background-color: #ee3b33;
}

.specs__btn-inner {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 80px;
}

.specs__slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs__svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
}

.specs__title {
  margin-top: auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #c8c8c8;
  text-align: center;
}

.specs__item--active .specs__title,
.specs__item:hover .specs__title,
.specs__btn:focus .specs__title {
  color: #ee3b33;
  opacity: 1;
}

.specs__item--active .specs__svg,
.specs__item:hover .specs__svg,
.specs__btn:focus .specs__svg {
  fill: #ee3b33;
  opacity: 1;
}
